body {
  animation: reveal .5s forwards;
  color: whitesmoke;
  font: normal 27pt sans-serif;
  margin: 5em;
  opacity: 0;
  text-align: center;
  text-shadow: 0 0 2px black, 0 0 1ex white;
}

@keyframes reveal {
  to {
    opacity: .5;
  }
}
