body {
  animation: reveal .5s forwards;
  font: bold 27pt sans-serif;
  margin: 0;
  opacity: 0;
  overflow: hidden;
}

svg {
  height: 100vh;
  width: 100vw;
}

@keyframes reveal {
  to {
    opacity: .5;
  }
}
